In [56]:
print("hellow D11-HW")

hellow D11-HW

In [57]:
### 1. 根據題目給的 DataFrame 完成下列操作：

"""
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
"""
import numpy as np
import pandas as pd

In [85]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
data = pd.DataFrame(data, index=labels)
data

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [60]:
data.groupby(["animal"]).count() # 看有哪些動物

        age  visits  priority
animal
cat       3       4         4
dog       3       4         4
snake     2       2         2

In [65]:
data_cat = data[data["animal"].isin(["cat"])]
data_dog = data[data["animal"].isin(["dog"])]
data_snake = data[data["animal"].isin(["snake"])]
print("*1*. cat平均:\n",data_cat["age"].mean())
print("*2*. dog平均:\n",data_dog["age"].mean())
print("*3*. snake平均:\n",data_snake["age"].mean())

*1*. cat平均:
 2.5
*2*. dog平均:
 5.0
*3*. snake平均:
 2.5

In [84]:
# 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
data1 = data.sort_values(by="age")
data2 = data1.sort_values(by="visits",ascending=False)
print("* 排序1.\n",data1)
print("*排序2:\n",data2)

TypeError: sort_values() got an unexpected keyword argument 'by'

In [72]:
data.head()

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no

In [89]:
# 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
data["priority"] = data["priority"].replace(["yes","no"],["True","False"])
print(data)

  animal  age  visits priority
a    cat  2.5       1     True
b    cat  3.0       3     True
c  snake  0.5       2    False
d    dog  NaN       3     True
e    dog  5.0       2    False
f    cat  2.0       3    False
g  snake  4.5       1    False
h    cat  NaN       1     True
i    dog  7.0       2    False
j    dog  3.0       1    False

In [91]:
### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去
"""
* 1) 該欄位的平均數
* 2) 該筆資料平均數
"""
### 3. 承上題，請問：
""""
1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小
"""

'\n* 1) 該欄位的平均數\n* 2) 該筆資料平均數\n'

In [98]:
df = pd.DataFrame(np.random.random(size=(5, 2)),columns=["a","b"])
df

          a         b
0  0.910294  0.889832
1  0.236703  0.293109
2  0.489870  0.526336
3  0.469753  0.855136
4  0.729268  0.211991

In [109]:
# 1) 該欄位的平均數
# 2) 該筆資料平均數
print("*1. 第0欄平均:\n", df["a"].mean())
print("*2. 第1欄平均:\n", df["b"].mean())
print("*3. 該資料平均:\n", (df["a"].mean()+df["b"].mean())/2)

*1. 第0欄平均:
 0.5671776662860614
*2. 第1欄平均:
 0.5552809029018885
*3. 該資料平均:
 0.5612292845939749

In [124]:
# 1) 哪一比的資料總合最小
print("* 最小值:\n", np.array(df).min())

* 最小值:
 0.21199107746979584

In [125]:
# 2) 哪一欄位的資料總合最小
a1, b1=df.sum()
if a1>b1:
    result = True
else:
    result = False
print("* a.b欄總和:", a1, b1,"* a欄>b欄?:",result,sep="\n")

* a.b欄總和:
2.835888331430307
2.7764045145094425
* a欄>b欄?:
True