In [2]:
import pandas as pd
import numpy as np

In [19]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

df = pd.DataFrame(data)

In [20]:
df

  animal  age  visits priority
0    cat  2.5       1      yes
1    cat  3.0       3      yes
2  snake  0.5       2       no
3    dog  NaN       3      yes
4    dog  5.0       2       no
5    cat  2.0       3       no
6  snake  4.5       1       no
7    cat  NaN       1      yes
8    dog  7.0       2       no
9    dog  3.0       1       no

    # 1. 根據給定的 DataFrame 中取出索引為 3, 4, 8 的 animal 和 age 欄位。

In [24]:
condition = df[["animal", "age"]].loc[[3,4,8]]

In [25]:
print("* 索引為 3, 4, 8 的 animal 和 age 欄位:\n", condition)

* 索引為 3, 4, 8 的 animal 和 age 欄位:
   animal  age
3    dog  NaN
4    dog  5.0
8    dog  7.0

    # 2. 請將 dataFrame 所有字串都變成是大寫開頭。

In [60]:
df = pd.DataFrame([
    ['tom', 'mark', 'mary'],
    ['bob', 'alice', 'john']
])
df

     0      1     2
0  tom   mark  mary
1  bob  alice  john

In [74]:
data = []
for i in range(len(df)+1):
    data.append(df[i].str.capitalize())

In [80]:
print("* 改成大寫開頭:\n", data)

* 改成大寫開頭:
 [0    Tom
1    Bob
Name: 0, dtype: object, 0     Mark
1    Alice
Name: 1, dtype: object, 0    Mary
1    John
Name: 2, dtype: object]