    1. 請接下列資料依照指定規則做合併：
    - 依照 fruit 欄位做合併
    - 依照 index 索引做合併
    2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？
    3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'weight': ['high', 'medium', 'low'] * 3,
    'price': np.random.randint(0, 15, 9)
})

df2 = pd.DataFrame({
    'fruit': ['apple', 'orange', 'pine'] * 2,
    'weight': ['high', 'low'] * 3,
    'price': np.random.randint(0, 15, 6)
})

In [17]:
df1

    fruit  weight  price  text
0   apple    high     10   0.0
1  banana  medium      2   1.0
2  orange     low      2   2.0
3   apple    high      8   3.0
4  banana  medium     11   4.0
5  orange     low      8   NaN
6   apple    high      4   NaN
7  banana  medium      9   NaN
8  orange     low     12   NaN

In [18]:
df2

    fruit weight  price
0   apple   high      5
1  orange    low      4
2    pine   high     11
3   apple    low     14
4  orange   high     13
5    pine    low     10

In [19]:
    # - 依照 fruit 欄位做合併
df3 = pd.merge(df1, df2, how="outer", on=["fruit", "fruit"])

In [20]:
df3 # 以［水果］做聯集合併~

     fruit weight_x  price_x  text weight_y  price_y
0    apple     high     10.0   0.0     high      5.0
1    apple     high     10.0   0.0      low     14.0
2    apple     high      8.0   3.0     high      5.0
3    apple     high      8.0   3.0      low     14.0
4    apple     high      4.0   NaN     high      5.0
5    apple     high      4.0   NaN      low     14.0
6   banana   medium      2.0   1.0      NaN      NaN
7   banana   medium     11.0   4.0      NaN      NaN
8   banana   medium      9.0   NaN      NaN      NaN
9   orange      low      2.0   2.0      low      4.0
10  orange      low      2.0   2.0     high     13.0
11  orange      low      8.0   NaN      low      4.0
12  orange      low      8.0   NaN     high     13.0
13  orange      low     12.0   NaN      low      4.0
14  orange      low     12.0   NaN     high     13.0
15    pine      NaN      NaN   NaN     high     11.0
16    pine      NaN      NaN   NaN      low     10.0

In [27]:
    # - 依照 index 索引做合併
df1["text"] = pd.Series(np.arange(9))
df2["text"] = pd.Series(np.arange(9))

In [28]:
df1

    fruit  weight  price  text
0   apple    high     10     0
1  banana  medium      2     1
2  orange     low      2     2
3   apple    high      8     3
4  banana  medium     11     4
5  orange     low      8     5
6   apple    high      4     6
7  banana  medium      9     7
8  orange     low     12     8

In [29]:
df2

    fruit weight  price  text
0   apple   high      5     0
1  orange    low      4     1
2    pine   high     11     2
3   apple    low     14     3
4  orange   high     13     4
5    pine    low     10     5

In [30]:
df3 = pd.merge(df1, df2, how="outer", on=["text", "text"])

In [32]:
df3 # 以［索引］作聯集合併

  fruit_x weight_x  price_x  text fruit_y weight_y  price_y
0   apple     high       10     0   apple     high      5.0
1  banana   medium        2     1  orange      low      4.0
2  orange      low        2     2    pine     high     11.0
3   apple     high        8     3   apple      low     14.0
4  banana   medium       11     4  orange     high     13.0
5  orange      low        8     5    pine      low     10.0
6   apple     high        4     6     NaN      NaN      NaN
7  banana   medium        9     7     NaN      NaN      NaN
8  orange      low       12     8     NaN      NaN      NaN

In [33]:
# 2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？
    # 因為此類水果(fruit)，或此類索引(text)，只有其中一組資料集有樣本，另一組沒有，就產生遺漏資料。

In [34]:
# 3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。
    # index並非變數, 無法作為合併的連接變數使用, 透過加入新一欄值同於索引的變數作為連接變數來進行資料合併。
df3 # 製作 text 變數來合併

  fruit_x weight_x  price_x  text fruit_y weight_y  price_y
0   apple     high       10     0   apple     high      5.0
1  banana   medium        2     1  orange      low      4.0
2  orange      low        2     2    pine     high     11.0
3   apple     high        8     3   apple      low     14.0
4  banana   medium       11     4  orange     high     13.0
5  orange      low        8     5    pine      low     10.0
6   apple     high        4     6     NaN      NaN      NaN
7  banana   medium        9     7     NaN      NaN      NaN
8  orange      low       12     8     NaN      NaN      NaN