作業目標:

    熟悉分組計算

作業重點:

    分組計算也可以加入apply自定義的函數

題目 : 運用下列分數資料分析

    找出全年級各科成績最高分與最低分?
    找出數學班平均最高的班級?
    分析全校女生與男生國文平均差幾分?
    score_df = pd.DataFrame([[1,50,80,70,'boy',1],[2,60,45,50,'boy',2],[3,98,43,55,'boy',1],[4,70,69,89,'boy',2],[5,56,79,60,'girl',1],[6,60,68,55,'girl',2],[7,45,70,77,'girl',1],[8,55,77,76,'girl',2],[9,25,57,60,'girl',1],[10,88,40,43,'girl',3],[11,25,60,45,'boy',3],[12,80,60,23,'boy',3],[13,20,90,66,'girl',3],[14,50,50,50,'girl',3],[15,89,67,77,'girl',3]],columns=['student_id','math_score','english_score','chinese_score','sex','class'])

In [2]:
import pandas as pd
import numpy as np

In [3]:
score_df = pd.DataFrame([[1,50,80,70,'boy',1],[2,60,45,50,'boy',2],
                        [3,98,43,55,'boy',1],[4,70,69,89,'boy',2],
                        [5,56,79,60,'girl',1],[6,60,68,55,'girl',2],
                        [7,45,70,77,'girl',1],[8,55,77,76,'girl',2],
                        [9,25,57,60,'girl',1],[10,88,40,43,'girl',3],
                        [11,25,60,45,'boy',3],[12,80,60,23,'boy',3],
                        [13,20,90,66,'girl',3],[14,50,50,50,'girl',3],
                        [15,89,67,77,'girl',3]],columns=['student_id','math_score'
                        ,'english_score','chinese_score','sex','class'])

In [7]:
score_df.head()

   student_id  math_score  english_score  chinese_score   sex  class
0           1          50             80             70   boy      1
1           2          60             45             50   boy      2
2           3          98             43             55   boy      1
3           4          70             69             89   boy      2
4           5          56             79             60  girl      1

In [9]:
# 1. 找出全年級各科成績最高分與最低分?
condition_math = score_df["math_score"] == score_df["math_score"].max()
condition_english = score_df["english_score"] == score_df["english_score"].max()
condition_chinese = score_df["chinese_score"] == score_df["chinese_score"].max()
print("*1. 數學最高:\n", score_df[condition_math])
print("*2. 英文最高:\n", score_df[condition_english])
print("*3. 國文最高:\n", score_df[condition_chinese])

*1. 數學最高:
    student_id  math_score  english_score  chinese_score  sex  class
2           3          98             43             55  boy      1
*2. 英文最高:
     student_id  math_score  english_score  chinese_score   sex  class
12          13          20             90             66  girl      3
*3. 國文最高:
    student_id  math_score  english_score  chinese_score  sex  class
3           4          70             69             89  boy      2

In [14]:
# 2. 找出數學班平均最高的班級?
group_class = score_df.groupby(["class"])
print("* 數學班平均最高:\n", group_class["math_score"].mean().max())

* 數學班平均最高:
 61.25

In [22]:
# 3. 分析全校女生與男生國文平均差幾分?
group_sex = score_df.groupby(["sex"])["chinese_score"].mean()
print("* 男女國文平均差幾分:\n",group_sex , "\n", group_sex.iloc[0] - group_sex.iloc[1])

* 男女國文平均差幾分:
 sex
boy     55.333333
girl    62.666667
Name: chinese_score, dtype: float64
 -7.333333333333329